/**
 * A default stylesheme for Listbox.js plugin.
 *
 * @copyright   (c) 2012, Igor Kalnitsky <igor@kalnitsky.org>
 * @version     0.3.0-dev
 * @license     BSD
 */

.lbjs {
    margin: 0px;
    width: 50%;
    /*padding: 5px;*/
    border: 0px;
    /*background: #FCFCFC;*/
    height: auto !important;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 7px;
    overflow: hidden;
}

.lbjs-list{
	height: 100% !important;
}

.lbjs .lbjs-list {
    margin: 0px;
    overflow: auto;
}


.lbjs .lbjs-list .lbjs-item {
    margin: 0px;
    padding: 5px;
}

.lbjs-item {
	border-radius: 0px;
	border-bottom: 1px solid #eee;
}

.lbjs .lbjs-list .lbjs-item:not([disabled]) {
    cursor: pointer;
}

.lbjs .lbjs-list .lbjs-item:hover:not([disabled]) {
    color: #0e658f;
}

.lbjs .lbjs-list .lbjs-item[selected] {
    background: #0088cc;
    color:white;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
	-webkit-box-shadow: inset 0px 3px 8px rgba(0,0,0,.1), inset 0px 3px 8px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0px 3px 8px rgba(0,0,0,.1), inset 0px 3px 8px rgba(0,0,0,.1);
    box-shadow: inset 0px 3px 8px rgba(0,0,0,.1), inset 0px 3px 8px rgba(0,0,0,.1);
}

.lbjs .lbjs-list .lbjs-item:hover[selected] {
    color:#eee;
}

.lbjs-item[selected]:after{
	float: right;
	text-align: right;
	content:" \2713";
}

.lbjs .lbjs-list .lbjs-item[disabled] {
    color: #999;
    cursor: default;
}

.lbjs .lbjs-searchbar-wrapper {
    margin: 0px;
    margin-right: 12px;
}

.lbjs .lbjs-searchbar {
    margin: 0px;
    margin-bottom: 10px;
    width: 100%;
    padding: 3px 5px;
    border: 1px solid #ccc;
}
