/* TOP MENU */
.brand {
	color: #0088cc !important;
	font-weight: bold !important;
	font-family: "trebuchet ms" !important;
	text-shadow: none !important;
}

.well {
    background: transparent;
    border-radius: 0 !important;
}

.nav-tabs>li>a {
    border-radius: 0;
}

a.btn.btn-navbar {
    background: transparent;
    border: 0;
    text-shadow: none;
    box-shadow: none;
    color: white;
}

.navbar .btn-navbar .icon-bar {
	background-color: white !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.nav-collapse .nav>li>a:focus {
    background: transparent;
    color: #abdcff;
}

.nav-collapse .nav>li>a:hover {
    background: transparent;
    color: #abdcff;
}

.navbar .btn-navbar:hover, .navbar .btn-navbar:focus {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner 
{
	-webkit-box-shadow: 0 0px 0px white !important;
	-moz-box-shadow: 0 0px 0px white !important;
	box-shadow: 0 0px 0px white !important;
	background: #0088cc;
}

.navbar-inner {
	background-color: white;
	background-image: none;
	filter: none;
	-webkit-box-shadow: 0px 1px 5px #cccccc !important;
	-moz-box-shadow: 0px 1px 5px #cccccc !important;
	box-shadow: 0px 1px 5px #cccccc !important;
	border-bottom: 1px solid #cccccc !important;
}

.navbar .nav>li>a {
	color: #0088cc !important;
	font-family: "trebuchet ms", arial, sans-serif !important;
	text-shadow: none !important;
	margin-bottom: -1px;
}

.navbar .divider-vertical {
	margin-top: 18px;
	height: 20px;
}

.navbar .nav>li>a:hover {
	color: #abdcff !important;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
	color: #0088cc !important;
	text-decoration: none;
	margin-top: 10px;
	background-color: #dfe9f5 !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    border-radius: 0;
}

.navbar .nav>li>a {
	color: white !important;
	margin-top: 9px;
}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
	background-color: #f5f5f5;
}

.nav li.dropdown.open{
	z-index: 1000 !important;
}

.avatar-cls{
	width:120px !important;
	float:left;
}

.bubble{
	padding:5px;
	padding-left:10px;
	position:relative;
	margin-left:150px;
	margin-right: 5px;
	background-color: #f2f2f2;
	border-radius:20px;
	float:none;
	width:auto;
	min-height: 50px;
	-webkit-box-shadow: 0px 2px 5px 0px #ccc;
	-moz-box-shadow: 0px 2px 5px 0px #ccc;
	-o-box-shadow: 0px 2px 5px 0px #ccc;
	-ms-box-shadow: 0px 2px 5px 0px #ccc;
	box-shadow: 0px 2px 5px 0px #ccc;
}

.fullscreen-header{
	background-color: white;
	position: fixed;
	top:0px;
	left:0px;
	right: 0px;
	margin:0;
	padding-right:50px;
	height: 100%;
	z-index: 10000000;
}

.fullscreen-header .avatar-cls{
	margin-top:20%;
	margin-left:20px;
	height: 200px;
	max-width: none !important;
}

.fullscreen-header .avatar-cls img{
	height: 100% !important;
	max-width: none !important;
}

.fullscreen-header .bubble{
	margin-top:22%;
	margin-left:220px;
	margin-right: 2%;
	min-height: 120px;
}

.fullscreen-header #hideInstructionsButton{
	color: white;
	border:1px solid #bd362f;
	background-color:#bd362f;
	padding: 5px;
	filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
    background-image:none;
    -webkit-box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.1),0px 1px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.1),0px 1px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.1),0px 1px 2px 0px rgba(0,0,0,0.1);
    border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ie-border-radius: 4px;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    text-decoration: none;
}

.fullscreen-header #hideInstructionsButton:hover{
	color: white;
	border:1px solid #d23c34;
	background-color:#d23c34;
}

.fullscreen-header #miniMenuDivider{
	display: none !important;
}

.fullscreen-header #fullscreen{
	display: none !important;
}

.form-horizontal .control-label
{
	font-size: 16px;
}

#exercise-mini-description{
	font-size: 20px;
}

/* BUTTONS */

.btn{
	filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image:none;
    border:1px solid #bbb;
    margin-left: 1px;
    background-color: white;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.1),0px 1px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.1),0px 1px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.1),0px 1px 2px 0px rgba(0,0,0,0.1);
}

.btn:hover, .btn:focus{
	background-color: #f8f8f8;
	-webkit-box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.15),0px 2px 4px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.15),0px 2px 4px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.15),0px 2px 4px 0px rgba(0,0,0,0.15);
}

.btn:active{
	-webkit-box-shadow: 0px 1px 6px 0 rgba(0,0,0,0.08),0px 1px 6px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 1px 6px 0 rgba(0,0,0,0.08),0px 1px 6px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 1px 6px 0 rgba(0,0,0,0.08),0px 1px 6px 0px rgba(0,0,0,0.08);
}

.btn-primary, .btn-primary:focus, .btn-primary:active{
	border:1px solid #0088cc;
	background-color:#0088cc;
}

.btn-primary:hover{
	border:1px solid #0090d7;
	background-color:#0090d7;
}

.btn-warning, .btn-warning:focus, .btn-warning:active{
	border:1px solid #f2a514;
	background-color:#f2a514;
}

.btn-warning:hover{
	border:1px solid #fbab15;
	background-color:#fbab15;
}

.btn-success, .btn-success:focus, .btn-success:active{
	border:1px solid #51a351;
	background-color:#51a351;
}

.btn-success:hover{
	border:1px solid #57ae57;
	background-color:#57ae57;
}

.btn-danger, .btn-danger:focus, .btn-danger:active{
	border:1px solid #bd362f;
	background-color:#bd362f;
}

.btn-danger:hover{
	border:1px solid #d23c34;
	background-color:#d23c34;
}

.btn-info, .btn-info:focus, .btn-info:active{
	border:1px solid #5bc0de;
	background-color:#5bc0de;
}

.btn-info:hover{
	border:1px solid #61c5e4;
	background-color:#61c5e4;
}

/* SPINNER */

.spinner {
	position: fixed;
	top: 40%;
	left: 50%;
	text-align:center;
	z-index:1234;
	overflow: visible;
	padding: 10px;
	font-weight: bold;
	color:#0088cc;
	font-size: 16px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 4px 10px 0 rgba(0,0,0,0.5),0px 2px 10px 0px rgba(0,0,0,0.3);
}

.spinner p{
	margin-bottom: 0px;
}

.growingSpinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px auto 5px auto;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background-color: #0088cc;
}
.growingSpinner,
.growingSpinner:before,
.growingSpinner:after {
	-ms-animation: 1s infinite ease-in-out;
	-o-animation: 1s infinite ease-in-out;
	-moz-animation: 1s infinite ease-in-out;
	-webkit-animation: 1s infinite ease-in-out;
    animation: 1s infinite ease-in-out;
}
.growingSpinner:before,
.growingSpinner:after {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    position: absolute;
    margin: 0px auto 10px auto;
}

.growingSpinner {
	-ms-animation-name: grow;
	-o-animation-name: grow;
	-moz-animation-name: grow;
	-webkit-animation-name: grow;
	animation-name: grow;
}

@keyframes grow {
    from { transform: scale(0); opacity: 1; }
    to   { transform: scale(1); opacity: 0; }
}

@-webkit-keyframes grow {
    from { -webkit-transform: scale(0); opacity: 1; }
    to   { -webkit-transform: scale(1); opacity: 0; }
}

@-moz-keyframes grow {
    from { -moz-transform: scale(0); opacity: 1; }
    to   { -moz-transform: scale(1); opacity: 0; }
}

@-o-keyframes grow {
    from { -o-transform: scale(0); opacity: 1; }
    to   { -o-transform: scale(1); opacity: 0; }
}

@-ms-keyframes grow {
    from { -ms-transform: scale(0); opacity: 1; }
    to   { -ms-transform: scale(1); opacity: 0; }
}

/*
.cyclingSpinner {
	width: 50px;
	height: 50px;
	margin: 0px auto 10px auto;
	border: 3px solid #0088cc;
	border-radius: 50%;
	border-top-color: transparent;*/
	/*border-left-color: transparent;
	border-right-color: transparent;*/
	/*box-shadow: 3px 3px 1px #40a6d8;*/
/*	animation: spin 600ms infinite linear;
	-webkit-animation: spin 600ms infinite linear;
	-moz-animation: spin 600ms infinite linear;
	-ms-animation: spin 600ms infinite linear;
	-o-animation: spin 600ms infinite linear;
}

@-webkit-keyframes spin {
	100%{ -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	100%{ -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
	100%{ -ms-transform: rotate(360deg); }
}

@-o-keyframes spin {
  100%{ -o-transform: rotate(360deg); }
}

@keyframes spin {
  100%{ transform: rotate(360deg); }
}*/

/*************/

#endSessionMedals{
	margin-left:auto;
	width:80%;
	margin-top:30px;
	margin-right:auto;
	border:1px solid #eee;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	-o-border-radius:20px;
	border-radius:20px;
	-webkit-box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.1),0px 1px 4px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.1),0px 1px 4px 0px rgba(0,0,0,0.1);
    -ms-box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.1),0px 1px 4px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.1),0px 1px 4px 0px rgba(0,0,0,0.1);
}

.number-highlight{
	font-weight: bold;
	border: 2px solid black;
	padding-left: 5px;
	padding-right: 5px;
}

.easy-access-entry a {
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-big{
	margin-top:5px !important;
	margin-right:5px !important;
	width:20px !important;
	height:20px !important;
	border:1px solid gray;
	-webkit-appearance:none;
	background-color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.1),0px 1px 4px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.1),0px 1px 4px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.1),0px 1px 4px 0px rgba(0,0,0,0.1);
}

.checkbox-big:checked{
	border:1px solid transparent;
	background-color: #0088cc;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.1);
	box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.1);
}

.checkbox-big:checked::after{
	content: "\2713";
	color: white;
	width:100%;
	text-align:center;
	float:left;
}

/* COMMON HTML */

html {
	height: 100%;
}

body {
	height: 100%;
}

hr{
	border-top: 2px solid #4b4b4b;
	box-shadow: 0px 2px 2px #d4d4d4;
	border-bottom: 0px solid #d4d4d4;
}

/*
.ve-logo {
	border-radius: 100% / 2;
	background-color: #0088cc;
}*/

.project-header {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.project-header h1 {
	color: #0088cc;
}

.project-header p {
	font-size: 1.6em;
}

.project-description {
	font-size: 1.3em;
	font-weight: 200;
	line-height: 1.6em;
}

.project-description ol {
	margin-left: 45px;
	line-height: 1.6em;
}

.project-description ol li {
	line-height: 1.6em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.project-description ul {
	margin-left: 45px;
	line-height: 1.6em;
}

.project-description ul li {
	line-height: 1.6em;
	margin-top: 10px;
	margin-bottom: 10px;
}

#bodyContainer {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	overflow: auto;
	background-color: white;
	height: 100%;
	padding-bottom: 20px;
}

#bodyContainer:-webkit-full-screen	{ width: 95%; height: 100%; padding: 50px; margin-right: 0px; margin-left: 0px; }
#bodyContainer:-moz-full-screen		{ width: 95%; height: 100%; padding: 50px; margin-right: 0px; margin-left: 0px; }
#bodyContainer:-ms-full-screen		{ width: 95%; height: 100%; padding: 50px; margin-right: 0px; margin-left: 0px; }
#bodyContainer:-o-full-screen		{ width: 95%; height: 100%; padding: 50px; margin-right: 0px; margin-left: 0px; }
#bodyContainer:full-screen			{ width: 95%; height: 100%; padding: 50px; margin-right: 0px; margin-left: 0px; }

#exercise-subdescription {
	margin-top: 20px;
	line-height: 20px;
	font-size: 16px;
}

#wrap {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -95px;
}

#push {
	height: 95px;
}

.marketing {
	text-align: center;
	margin-bottom: 0px;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.marketing-img {
	display: block;
	margin: 0 auto 30px;
	max-height: 145px;
}

.marketing h2 {
	font-weight: 200;
	margin-bottom: 5px;
}

.marketing p {
	font-size: 16px;
	line-height: 1.5;
	padding: 10px;
}

.masthead {
  	padding-top: 4%;
	height:200px;
	padding-bottom: 4%;
	margin-bottom: 0px;
	margin-top:-20px;
	margin-bottom: -20px;
	border-bottom: 1px solid #e5e5e5;
	background-image: url(../img/header.png);
	position: relative;
}

.masthead h1 {
	position: absolute;
	color:white;
	display: inline-block;
	text-align: left;
	font-size: 6em;
	padding: 10px;
	line-height: 1;
	bottom: -20px;
	font-family: "Trebuchet ms", Arial, sans-serif !important;
	/* 3D text */
	/*text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);*/
    /* Neon */
    /*text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                   0 0 30px #fff,
                   0 0 40px #0088cc,
                   0 0 70px #0088cc;*/
}

.masthead p {
	text-align: center;
	font-size: 2em;
	font-weight: 300;
	color: white;
	padding: 10px;
	margin-top: 7%;
	background-color: rgba(0, 136, 204, 0.95);
	bottom: -10px;
	left:0px;
}

.login-label{
	color: #999;
}

.remember{
	float: left;
	margin-top: 10px;
	margin-left: 25px;
}

/*override dropdown configuration to always show it to the left */
.navbar .nav > li > .dropdown-menu::before {
	left:auto !important;
	right:9px;
}

.navbar .nav > li > .dropdown-menu::after {
	left:auto !important;
	right:10px;
}

.dropdown-login{
	padding: 1.1em;
	padding-bottom: 0px;
	left: auto;
	right: 0;
}

.dropdown-profile{
	left:auto;
	right:0;
}

input {
    border-radius: 0 !important;
}

.login-input {
	margin-bottom: 1.1em;
}

.login-submit {
	/*margin-left: 30px;*/
	float: left;
}

.forgot-password-p {
	margin-top: 30px;
}

.forgot-password {
	font-size: 9pt;
	margin-top: 20px;
	margin-left: 30%;
}

.forgot-password2 {
	text-align: right;
	margin-top: 5px;
	margin-left: 60px;
	vertical-align: bottom;
}

.login-error {
	color: #B94A48;
}

.docs-input-sizes select, .docs-input-sizes input[type="text"], .docs-input-sizes input[type="number"] {
	display: block;
	margin-bottom: 9px;
}

.footer {
   bottom:0;
   width:100%;
   margin-top: 0;
   border-top: 1px solid #e5e5e5;
   background:#ffffff;
   /*-webkit-box-shadow: 0px -2px 5px #ccc;
   -moz-box-shadow: 0px -2px 5px #ccc;
   -o-box-shadow: 0px -2px 5px #ccc;
   -ms-box-shadow: 0px -2px 5px #ccc;
   box-shadow: 0px -2px 5px #ccc;*/
}

.footer-img {
	margin-top: 10px;
	margin-left: 30px;
}

.footer-top {
	margin-top: 10px;
	margin-right: 30px;
}

.footer p {
	margin-bottom: 0;
	color: #555;
    margin-right: 10px;
}

.center-phrase h1 {
	margin: 36px 0 10px;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	line-height: 1;
}

.center-phrase p {
	font-weight: 200;
	font-size: 20px;
	margin-bottom: 40px;
	color: #555;
	text-align: center;
	line-height: 1.5;
}

@media (max-width: 979px){
	.forgot-password {
		font-size: 9pt;
		margin-top: 20px;
		margin-left: auto;
	}
}

/* THUMBNAILS */

.thumbnail{
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	border: 1px solid black;
}

.fake-thumbnail{
	border: 1px solid black;
	display: block;
	padding: 4px;
	line-height: 20px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: table-cell;
	height: 170px;
	width: 170px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	font-size: x-large;
}

/* CONTACT */

.contact-form-error {
	color: red;
}

.contact-form-ok {
	color: green;
}

/* EXERCISES */
#exercise-container {
	height: 100%;
	min-height: 100px;
}

.semantic-exercise {
	display: table-cell;
	height: 170px;
	width: 170px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	font-size: x-large;
}

a.thumbnail.semantic-exercise:hover {
	text-decoration: none;
}

.semantic-exercise-toggle {
	background-color: yellow;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.semantic-exercise-ok {
	background-color: lightgreen;
}

.semantic-exercise-bad {
	background-color: lightpink;
}

.pyramid-ok {
	background-color: green;
}

.pyramid-bad {
	background-color: red;
}

.pyramid-toggle {
	background-color: blue;
}

a.thumbnail.wordlist-exercise:hover {
	text-decoration: none;
}

p.wordlist-exercise
{
	line-height: 60px;
}

.wordlist-toggle {
	background-color: yellow;
}

.logical-exercise-element {
	display: block;
	padding: 4px;
	line-height: 1;
}

.package-delivery-game-description-title {
	text-align:right;
	vertical-align:top;
	padding-top:25px;
}

.package-delivery-game-description-entries {
	padding-left:15px;
	text-align:left;
	vertical-align:top;
	/*padding-top:25px;*/
	font-size: 18px;
}

.package-delivery-van-box {
	width:60px;
	display:inline-block;
	margin-top:2px;
	margin-right:1px;
}

.package-delivery-van {
	margin:0;
	padding:0;
	position:absolute;
	z-index:100;
}

.package-delivery-place {
	margin:0;
	padding:0;
	position:absolute;
}

.package-delivery-movement-alert {
	position:absolute;
	top:2px;
	left:2px;
	z-index:20;
}

.package-delivery-van-status {
	text-align:center;
	vertical-align:top;
	padding-top:10px;
}

.package-delivery-van-status-panel {
	width:100%;
	height:100px;
	margin-top:10px;
	margin-bottom:10px;
}

a.position-exercise-window:hover{
	border: 1px solid black;
	background-color: #cccccc;
}

.position-exercise-window {
	border: 1px solid #cccccc;
	display: block;
}

.position-exercise-window-selected{
	border: 1px solid black;
	background-color: yellow;
}

.position-exercise-window-selected:hover{
	background-color: rgb(240, 240, 0) !important;
}

.position-exercise-window-disabled {
	border: 1px solid #cccccc;
	display: block;
}

#giftshopping-budget {
	font-weight:bold;
	font-size:24px;
	text-align:right;
	width:100%;
	position: absolute;
	left:0px;
	margin-top: 12px;
}

#giftshopping-timer {
	font-weight:bold;
	font-size:24px;
	text-align:center;
	width:100%;
	position: absolute;
	left:0px;
	margin-top: 12px;
}

#giftsCriteriasModalContent ul li {
	font-size: 18px;
	margin-top: 20px;
}

.giftsItemDescription {
	width:33%;
	text-align:center;
	margin-left: 10px;
	margin-right: 10px;
}

.giftsItemBought {
	opacity: 0.3;
}
div.giftsItemBought {
	z-index: 3;
	padding: 3px;
	background-color: #00628b;
	opacity: 1;
	color: white;
	position: absolute;
	top: 33%;
	width: 97%;
	margin-left: -5px;
	margin-right: -5px;
}
div.giftsItemNotBought {
	z-index: 3;
	background-color: #b94a48;
	opacity: 1;
	color: white;
	position: absolute;
	top: 0px;
	width: 65px;
	margin-left: -5px;
}

.giftsItemDescription a:hover {
	text-decoration: none;
}

.giftsCartItem img {
	height:50px;
	width:50px;
	padding: 2px;
	border-radius: 5px;
	border: 1px solid gray;
}

.li-status-panel {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	z-index: 10;
	background-color: white;
}

.li-door-title  {
	position: absolute;
	color:blue;
	z-index:5;
	margin:0;
	padding: 0;
	height:50px;
	text-align:center; 
	font-size: 18px;
}

.li-toggle {
	background-color: lightblue;
}

.li-room-door-img-clickable {
	z-index:100;
	overflow:hidden;
	margin:0;
	padding:0;
	position:absolute;
	background-color: transparent;
	opacity: 0.01;
}

.li-itemsList {
	padding-bottom:5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	width: 1090px;
	border: 1px solid gray;
}

#li-found-coins {
	color: red;
	font-weight: bold;
	font-size:16px;
}

#li-total-coins {
	color: red;
	font-weight: bold;
	font-size:16px;
}

#li-bad-objects {
	color: red;
	font-weight: bold;
	font-size:16px;
}

.li-highlight {
	background-color: red;
	opacity: 0.7;
	position: absolute;
}

.li-highlight-restore {
	background-color: yellow;
	opacity: 0.7;
	position: absolute;
}

.li-top-thumbs {
	display:table-cell;
	text-align:center;
	width:80px;
	height:80px;
	vertical-align:middle;
}

.li-alert {
	position:absolute;
	top:120px;
	left:8px;
	z-index:150;
}

.li-room-door-img {
	z-index:-1;
	overflow:hidden;
	margin:0;
	padding:0;
	position:absolute;
}

.li-room-door-img img{
	position:absolute;
	width:auto !important;
	height:100% !important;
	max-width:1100px;
	left:-85%;
}

.classify-objects-toggle {
	background-color: blue;
}

.classify-objects-ok {
	background-color: green;
}

.classify-objects-bad {
	background-color: red;
}

.classify-objects-omission {
	background-color: yellow;
}

.classify-objects-category {
	width:165px;
	display:inline;
	float:left;
	margin-right:25px;
	margin-bottom: 30px;
}

.spatial-reasoning-exercise {
	width: 80px;
	height: 80px;
}

.spatial-exercise-toggle {
	background-color: yellow;
}

.spatial-exercise-bad {
	background-color: red;
}

.spatial-exercise-ok {
	background-color: green;
}

.spatial-imgThumbnail {
	position:relative;
	overflow:hidden;
	width:80px;
	height:80px;
}

#bagitem-character {
	position:absolute;
	width:45px;
	height:76px;
}

.bagitems-result-selector .active{
	background-color: yellow;
}

.bagitems-result-selector .btn{
	font-size: 20px;
}

#bagitem-character img {
	position:absolute;
	bottom:0px;
}

.bagitem-img-mirror {
	-moz-transform: scaleX(-1); /* Gecko */
    -o-transform: scaleX(-1); /* Operah */
    -webkit-transform: scaleX(-1); /* webkit */
    transform: scaleX(-1); /* standard */
    filter: FlipH; /* IE 6/7/8 */
}

#bagitems-bag {
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-image: url("../exercises/img/BagItemsExercise/bagitems-dialogo.png");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 100;
}

#bagitems-result-table {
	margin-left:43px;
}

.bagitems-result-table-wrapper {
	position:relative;
	width:160px;
	margin-top:40px;
}

.bagitems-result-table-wrapper.first-row {
	margin-top:50px;
}

.bagitems-result-table-wrapper p {
	text-align:center;
}

.bagitems-result-table-wrapper > .thumbnail {
	width:50px;
	height:50px;
}

.bagitems-result-selector {
	position:absolute;
	top:30px;
	left:65px;
	width:80px;
	height:80px;
}

.medal-container {
	width: 260px;
	height: 260px;
}

.wordlist-fixedlist {
	width: 307px;
	height: 400px;
	background-size:307px 400px;
	background-image: url("../exercises/img/WordListExercise/bloc.png");
	background-repeat: no-repeat;
	padding-top: 1px;
}

.wordlist-fixedlist ul {
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
}

.wordlist-timer-p {
	text-align: center;
	width: 307px;
}

.wordlist-fixedlist-element {
	margin-top: 10px;
	margin-left: 60px;
}

.tasklist-fixedlist {
	width: 500px;
	height: 400px;
	background-size:500px 400px;
	background-image: url("../exercises/img/WordListExercise/bloc.png");
	background-repeat: no-repeat;
	padding-top: 1px;
}

.tasklist-introImg {
	width: 500px;
	height: 400px;
	background-size:500px 400px;
	background-image: url("../exercises/img/WordListExercise/bloc.png");
	background-repeat: no-repeat;
	padding-top: 1px;
	margin-top: 30px;
}

.tasklist-fixedlist ul {
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
}

.tasklist-fixedlist-element {
	margin-top: 10px;
	margin-left: 80px;
}

.tasklist-timer-p {
	text-align: center;
	width: 500px;
}

#balloons {
	overflow:hidden;
	width:480px;
	height:380px;
	position:relative;
}

#remTime{
	font-size:16px !important;
}

#balloonsContainer {
	position:relative;
	width:100%;
	height:100%;
	background-color:rgb(191,225,252);
}

#balloon {
	background-image: url("../exercises/img/BalloonsExercise/balloon.png");
	background-size:85px 115px;
	width: 85px;
	height: 115px;
	background-repeat: no-repeat;
	position:absolute;
	top:33%;
	left: 42%;
	padding-top: 40px;
	text-align: center;
	color: blue;
	font-size: 45px;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.panel{
	padding: 10px;
	margin-top: 10px;
	height: 100%;
}
.entry-panel{
	padding:10px;
	padding-left: 40px;
}

/*
 * Rounded Tables
 */

.rounded-table {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  background-color: #fafafa;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
}
/* Echo out a label for the example */
.rounded-table-title {
  position: absolute;
  top:  15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Tweak display of the code snippets when following an example */
.rounded-table + .highlight {
  margin: -15px -15px 15px;
  border-radius: 0;
  border-width: 0 0 1px;
}

/* Make the examples and snippets not full-width */
@media screen and (min-width: 768px) {
  .rounded-table {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }
  .rounded-table + .highlight {
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

/* Tweak content of examples for optimum awesome */
.rounded-table > p:last-child,
.rounded-table > ul:last-child,
.rounded-table > ol:last-child,
.rounded-table > blockquote:last-child,
.rounded-table > .form-control:last-child,
.rounded-table > .table:last-child,
.rounded-table > .navbar:last-child,
.rounded-table > .jumbotron:last-child,
.rounded-table > .alert:last-child,
.rounded-table > .panel:last-child,
.rounded-table > .list-group:last-child,
.rounded-table > .well:last-child,
.rounded-table > .progress:last-child,
.rounded-table > .table-responsive:last-child > .table {
  margin-bottom: 0;
}
.rounded-table > p > .close {
  float: none;
}

/* Typography */
.rounded-table-type .table td:last-child {
  color: #999;
  vertical-align: middle;
}
.rounded-table-type .table td {
  padding: 15px 0;
  border-color: #eee;
}
.rounded-table-type .table tr:first-child td {
  border-top: 0;
}
.rounded-table-type h1,
.rounded-table-type h2,
.rounded-table-type h3,
.rounded-table-type h4,
.rounded-table-type h5,
.rounded-table-type h6 {
  margin: 0;
}

/* Images */
.rounded-table > .img-circle,
.rounded-table > .img-rounded,
.rounded-table > .img-thumbnail {
  margin: 5px;
}

/* Buttons */
.rounded-table > .btn,
.rounded-table > .btn-group {
  margin-top: 5px;
  margin-bottom: 5px;
}
.rounded-table > .btn-toolbar + .btn-toolbar {
  margin-top: 10px;
}

/* Forms */
.rounded-table-control-sizing select,
.rounded-table-control-sizing input[type="text"] + input[type="text"] {
  margin-top: 10px;
}
.rounded-table-form .input-group {
  margin-bottom: 10px;
}
.rounded-table > textarea.form-control {
  resize: vertical;
}

/* List groups */
.rounded-table > .list-group {
  max-width: 400px;
}