﻿/* 
NutelCare.css

creado por Vanesa Espín

Departamento de Languajes y Sistemas

Universidad de Granada
*/
body{
	font-size:14px;
	font-weight:normal;
	/*overflow: hidden;*/
}

.page-header{
	margin-top:10px;
	margin-bottom: 0px;
	border-bottom: 0px;
}

.row{
	margin-left:0;
}

.row label{
	padding-bottom:5px;
}

.row label:hover{
	color:#0088cc;
}

.freqChecked{
	font-weight: bold;
	color:#0088cc;
}

.tab-pane .top{
	border-bottom:1px solid #eee;
}


.tab-pane img{
	padding:0;
	margin:0;
	width:98%;
}

#form-freq-alim img{
	padding:0;
	margin:0;
	width:98%;
}

#form-freq-alim .top{
	padding-bottom: 10px;
}

#form-freq-alim{
	overflow: hidden;
}

.radio-text{
	color:#333;
}
.radio-text:hover{
	color:blue;
}

.tab-content{
	overflow:hidden;
}

.navbar .nav>li>a.disabled{
	color:#CCC;
	pointer-events: none;
}

.navbar .nav>li>a.enabled{
	color:#333;
}

.pager-freq{
	padding-top:0px;
	border:0;
}


#messages{
	text-align:center;
	color:red;
	font-weight:bold;
}

#submit-div{
	text-align:center;
	display: none;
}
#submit-div input{
	padding:10px;
	color:#000;
	font-weight:bold;
}

.changePage{
	font-weight:bold;
}
.food label{
	display:inline-block;
	font-size:16px;
}

.food label a{
	font-weight:normal;
}

.next{
	float:right;
}

.previous{
	float:left;
}

.hidden{
	display:none;
}

.food-types{
	background-color:#F5ECCE;
	text-align:center;
}

.food-types > label{
	padding-right:10px;
}

.top{
	margin-bottom:20px;
}

/*************************/

/** Only Works in Chrome and Explorer**/
input[type=radio]{
	width: 1.5em;
    height: 1.5em;
    margin:0;
}
