body {
    		/*overflow:hidden;*/
		}
		.pagination .active{
    	  background-color: #0088cc;
    	  color:#FFFFFF;		
    	}

    	#page-content .inline{
    		padding-top:0 !important;	
    	}
    	#page-content .inline:hover{
    		color:#0088cc;	
    	}

    	#page-content .inline>label{
    		padding-top:20px !important;	
    	}

    	input[type=radio]{
			width: 1.5em;
		    height: 1.5em;
		  
		}
		.radio input[type="radio"]{margin-left:-15px;}
		
		.qdiv{
			padding-bottom: 5px;
			padding-top: 15px;
			vertical-align: middle;
			min-height:60px;
		}

		.checked{
    		color:#0088cc;	
    	}
    
    	.pager{
    		height:50px;
    		margin: 0;
    		margin-top:-5px;
    	}
    	
    	.next button{
    		float:right;
    	}

    	.previous button{
    		float:left;
    	}

    	.page-header{
    		margin-bottom:10px;
    		padding-bottom: 0;
    		margin-top:10px;
    	}
    	

       #questionary-form .control-label{
            width:300px;
            text-align:left;
            margin-right:10px
        }